html 
{
    width: 100%;
    height: 100%;
    -ms-content-zooming: none;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body {
    font-family: Verdana;
    width: 100%;
    height: 100%;
    /*background-color: #b5caae;*/
    background-image:url(../img/background.png);
    margin: 0px;
    border: 0px;
    padding: 0px;
    min-height: 480px;
    min-width: 640px;
}
#header{
	background-color:#f66;
}
#yablt{
	border:1px #000 solid;
	width:200px;
	height:500px;
	overflow-y:auto;
	position:relative;
	background-color:#fff;
}
.yablt{
	width:20px;
	height:400px;
	position:absolute;
	top:40px;
	font-size:16px;
	text-align:center;
}
.yabltNum{
	width:30px;
	text-align:center;
	height:12px;
	font-size:12px;
	position:absolute;
	top:10px;
}
#deerHairqig, #doorHairqig{
	background-color:#666;
	height:80px;
	width:500px;
	padding:8px;
	display:none;
}
#boards {
    width: 500px;
    height: 500px;
    position:absolute;
    top:30px;
    left:230px;
}
.board {
    height: 100%;
    padding: 0%;
    position: relative;
}
.board img.map{
    width: 500px;
    height: 500px;
    position:absolute;
    top:0px;
    left:0px;
}
.cell {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    height: 12.5%;
    width: 12.5%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.nar {
}
.sar {
}

.xitar {
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 12%;
    height: 12%;
    z-index: 1;
    -ms-touch-action: none;
}
#inputDiv{
		border:1px #000 solid;
		width:37px;
	height:400px;
	position:absolute;
	top:40px;
	left:760px;
	background-color:#fff;
}
#inputDiv img, 
.message_M img{
	display:block;
	margin:0;
	padding:0;
}
#send_botton{
		border:1px #000 solid;
		width:27px;
		height:70px;
		padding:5px;
	position:absolute;
	top:450px;
	left:760px;
	background-color:#fff;
	cursor:pointer;
}
#message_M{
		border:1px #000 solid;
		width:200px;
		height:490px;
	position:absolute;
	top:40px;
	left:810px;
	overflow-y:auto;
	background-color:#fff;
}
.message_M{
	width:37px;
	height:400px;
	position:absolute;
	top:10px;
}
